# Environment Variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# FAISS Index
index/

# Uploaded PDFs
documents/

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db